<% @articulos.each do |articulo| %>

    <!-- First Blog Post -->
    <h1>
        <%= link_to "#{articulo.title}", article_path(articulo) %>
    </h1>
    <p class="lead">
        <% unless articulo.user.nil? then %>
            Por: <a href=""><%= articulo.user.email %></a>
        <% else %>
            Usuario Anonimo
        <% end %>

        <% if user_signed_in? and articulo.user == current_user then %>
            <%= link_to " Eliminar ", articulo, method: :delete, remote:true, id:"eliminar", class:"glyphicon glyphicon-trash btn btn-danger btn-xs right" %> &nbsp;
    		<%= link_to " Modificar", edit_article_path(articulo), class:"glyphicon glyphicon-pencil btn btn-primary btn-xs right" %>
        <% end %>
    </p>
    <span class="glyphicon glyphicon-time"></span> Se creo el: <%= articulo.created_at %>
    <br>
    <img class="img-responsive" src="<%= articulo.imageblog.url(:thumb) %>" alt="">
    <br>
    <p> <%= truncate(articulo.body, length:80) %> </p>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" href="<%= article_path(articulo) %>">Continuar Leyendo<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="col-md-6 text-right">
            <span class="text-muted"><b> <%= tamano(articulo.comments) %> </b>comentarios</span>
            -
            <span class="text-muted"><b> <%= articulo.visits_count %> </b>vistas</span>
        </div>
    </div>
    <hr>

<% end %>