<%= form_for @articulo, html: { multipart: true } do |f| %>
	<% if not @articulo.errors.empty? then %>
		<div class="alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<% @articulo.errors.full_messages.each do |errores| %>
				<div>
					<strong>*</strong> <%= errores %>
				</div>
			<% end %>
		</div>
	<% end %>

	<% if @articulo.id then %>
		<% @veces = size_img_db(@articulo.id) %>
	<% else %>
		<% @veces = 3 %>
	<% end %>

	<% @veces.times.each do %>
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><label for="">Imagenes:</label></span>
		 <%= file_field_tag "images[]", type: :file, multiple: true, class: "form-control btn btn-default"  %>
	</div><br>
	<% end %>

	<% @articulo.pictures.each do |imagenes| %> 
		<%= f.fields_for :pictures, imagenes do |image_fields| %>
			<%= image_tag imagenes.image.url(), class: "img-responsive", style:"width:200px;" %>
			<%= check_box_tag "imagenes[]", imagenes.id %> Eliminar

		<% end %>
	<% end %>

	<br>
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><label for="article_title">Titulo:</label></span>
		<%= f.text_field :title, class: "form-control" %>
	</div>
	<br>
	<div class="form-group">
		<%= f.text_area :body, placeholder:"Escribe tu Artículo aqui", class:"form-control", rows:"10" %>
	</div>
	<br>
	<% @category.each do |category| %>
		<div class="form-group">
			<%= check_box_tag "categories[]", category.id %> <label><%= category.name %></label>
		</div>
	<% end %>
	<div class="input-group">
		<%= f.submit "Guardar", class:"btn btn-primary btn-block" %>
	</div>
	<br>
<% end %>