<!-- Variables -->
<% provide(:titulo,"#{@articulo.title}") %>
<!-- First Blog Post -->
<h1>
	<%= @articulo.title %>
</h1>
  
	<p class="lead">
		<% unless @articulo.user.nil? then %>
			Por: <a href=""><%= @articulo.user.email %></a>
		<% else %>
			Por: Usuario Anonimo
		<% end %>

		<% if user_signed_in? and @articulo.user == current_user then %>
			<%= link_to " Modificar", edit_article_path(@articulo), class:"glyphicon glyphicon-pencil btn btn-primary btn-xs right" %>
		<% end %>
	</p>
 


<span class="glyphicon glyphicon-time"></span> Se creo el: <%= @articulo.created_at %>
<br>
<img class="img-responsive" src="http://placehold.it/900x300" alt="">
<br>
<p> <%= @articulo.body %> </p>
<span class="text-muted"><b> <%= tamano(@articulo.comments) %> </b>comentarios </span>
-
<span class="text-muted"><b> <%= @articulo.visits_count %> </b>vistas </span>
<br>
<br>

<h2>Comenta</h2>
<%= render 'comments/form' %>

<h2>Comentarios</h2>
<ul id="comments-box" class="">
	<% @comentarios.each do |comentarios| %>
		<li>
			<b><%= comentarios.user.email %>: </b>
			<%= comentarios.body %>
		</li>
	<% end %>					
</ul>

